---
import NextJS from "@ui/icons/nextjs.astro";
import Tailwind from "@ui/icons/tailwind.astro";
import CodeIcon from "@/components/icons/Code.astro";
import { Construction, Link, Github } from "lucide-astro";
import { Image } from "astro:assets";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  BUILDING: {
    name: "Building",
    class: "bg-[#f18028] text-primary-foreground",
    icon: Construction,
  },
};

const PROJECTS = [
  {
    title: "Mindfulyze - A tool to unleash your thoughts",
    description:
      "A purpose-built journaling tool for mindful self-discovery, enhanced well-being, and goal achievement.",
    link: "https://dub.sh/mindfulyze",
    github: "https://git.new/mindfulyze",
    logo: "https://mindfulyze.vercel.app/_static/logo.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
];
---

<section class="mx-auto flex max-w-xl flex-col">
  <header>
    <h2
      class="mb-5 flex items-center gap-x-2 text-lg font-semibold text-foreground"
    >
      <CodeIcon class="size-5" />Projects
    </h2>
  </header>
  <div class="flex flex-col gap-4">
    <!-- <div class="flex flex-col gap-4"> -->
    {
      PROJECTS.map(({ title, tags, description, logo, link, github }, i) => (
        <article class="w-full rounded-2xl border bg-card px-6 py-6 transition-colors hover:border-primary">
          <header class="flex items-center space-x-3">
            <Image
              src={logo}
              alt={`${title.split(" ")[0]} logo`}
              width={100}
              class="h-[24px] w-[24px]"
              height={100}
              decoding="async"
              loading={i === 0 ? "eager" : "lazy"}
            />
            <h3 class="text-balance text-lg font-semibold text-foreground">
              {title}
            </h3>
          </header>
          <div class="mt-4 flex flex-col">
            <ul class="mb-2 flex flex-row flex-wrap gap-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex items-center gap-x-1 rounded-full text-xs ${tag.class} px-2 py-1`}
                  >
                    <tag.icon class="size-3" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>
            <div class="my-2 text-pretty text-muted-foreground">
              {description}
            </div>
            <div class="mt-3 flex gap-3">
              {github != null ? (
                <a
                  href={github}
                  target="_blank"
                  class="flex items-center gap-2 rounded-md border bg-background px-3 py-2 text-sm transition-all hover:bg-secondary hover:text-secondary-foreground"
                >
                  <Github class="size-4" />
                  Code
                </a>
              ) : null}

              <a
                href={link}
                target="_blank"
                class="flex items-center gap-2 rounded-md border bg-background px-3 py-2 text-sm font-medium transition-all hover:bg-secondary hover:text-secondary-foreground"
              >
                <Link class="size-4" />
                Preview
              </a>
            </div>
          </div>
        </article>
      ))
    }
  </div>
</section>
