---
import X from "@ui/icons/x.astro";
import {
  Github as GitHub,
  Linkedin as LinkedIn,
  Mail,
  Link,
  Network,
} from "lucide-astro";
import WorldMap from "@ui/icons/world-map.astro";
import type { SocialIcon } from "@/types";
import type { CollectionEntry } from "astro:content";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

type Props = {
  basics: CollectionEntry<"cv">["data"]["basics"];
};

const { name, label, location, profiles, email } = Astro.props.basics;
const { city, countryCode } = location;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const SOCIAL_ICONS: SocialIcon = {
  Website: Link,
  GitHub,
  LinkedIn,
  X,
  Mail,
};

const linkedInfo = profiles.find(({ network }) => network === "LinkedIn");
const linkedUrl = linkedInfo?.url;

const printInfo = [email, linkedUrl].filter(Boolean).join(" • ");

const links = [
  ...((email && [
    {
      username: "bjohansebas@gmail.com",
      href: `mailto:${email}`,
      title: t("see.email", { name, email }),
      icon: "Mail",
    },
  ]) ||
    []),
  ...profiles.map(({ network, url, username }) => ({
    username,
    href: url,
    title: t("see.network", { name, network }),
    icon: network,
  })),
];
---

<div class="flex flex-col-reverse items-center justify-between gap-4">
  <div class="flex flex-col items-center justify-center gap-2 text-center">
    <h1 class="text-2xl font-semibold">{name}</h1>
    <h2 class="text-balance text-lg font-medium text-muted-foreground">
      {label}
    </h2>

    <footer>
      <span class="flex items-center gap-2">
        <WorldMap class="h-4 w-4" />
        {city}, {countryCode}
      </span>
      {
        links.map(({ href, title, icon, username }) => {
          const Icon = SOCIAL_ICONS[icon];

          return (
            <a
              href={href}
              title={title}
              target="_blank"
              rel="noopener noreferrer"
              class="w-fit gap-2 hover:text-primary"
            >
              <Icon class="h-4 w-4" />
              {username}
            </a>
          );
        })
      }
    </footer>
  </div>
</div>

<style>
  footer {
    font-size: 0.75rem;
    display: flex;
    gap: 8px;
    margin-top: 8px;
  }

  footer a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    transition: all 0.3s ease;
  }
</style>
