---
import X from "@ui/icons/x.astro";
import { Github as GitHub, Linkedin as LinkedIn, Mail } from "lucide-astro";
import WorldMap from "@ui/icons/world-map.astro";
import type { SocialIcon } from "@/types";
import type { CollectionEntry } from "astro:content";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

type Props = {
  basics: CollectionEntry<"cv">["data"]["basics"];
};

const { name, label, location, profiles, email } = Astro.props.basics;
const { city, region } = location;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const SOCIAL_ICONS: SocialIcon = {
  GitHub,
  LinkedIn,
  X,
  Mail,
};

const linkedInfo = profiles.find(({ network }) => network === "LinkedIn");
const linkedUrl = linkedInfo?.url;

const printInfo = [email, linkedUrl].filter(Boolean).join(" • ");

const links = [
  ...((email && [
    {
      href: `mailto:${email}`,
      title: t("see.email", { name, email }),
      icon: "Mail",
    },
  ]) ||
    []),
  ,
  ...profiles.map(({ network, url }) => ({
    href: url,
    title: t("see.network", { name, network }),
    icon: network,
  })),
];
---

<div class="flex flex-col-reverse items-center justify-between gap-4">
  <div class="flex flex-col items-center justify-center gap-2 text-center">
    <h1 class="text-2xl font-semibold">{name}</h1>
    <h2 class="text-balance text-lg font-medium text-muted-foreground">
      {label}
    </h2>
    <span class="flex items-center gap-1 text-sm text-muted-foreground">
      <WorldMap />
      {city}, {region}
    </span>
    <footer class="print">
      {printInfo}
    </footer>
    <footer class="no-print">
      {
        links.map(({ href, title, icon }) => {
          const Icon = SOCIAL_ICONS[icon];

          return (
            <a
              href={href}
              title={title}
              target="_blank"
              rel="noopener noreferrer"
              class="border border-solid hover:border-primary hover:bg-card hover:text-primary"
            >
              <Icon class="size-4" />
            </a>
          );
        })
      }
    </footer>
  </div>
</div>

<style>
  footer {
    font-size: 0.65rem;
    display: flex;
    gap: 4px;
    margin-top: 8px;
  }

  footer a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    height: 32px;
    width: 32px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }
</style>
